<a href="https://colab.research.google.com/github/MikkoDT/MexEE402_AI/blob/main/Pandas_for_Data_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import the pandas library
import pandas as pd

In [2]:
# Define the URL where the dataset is located
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"

In [3]:
# Use pandas to load the dataset from the URL into a DataFrame
df = pd.read_csv(url)

In [4]:
# Print the names of the columns in the DataFrame
print("Columns in the DataFrame:", df.columns)

Columns in the DataFrame: Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [5]:
# If there's a column named 'Age', you can filter the DataFrame to include only rows where the 'Age' column is greater than 30.
# Replace 'Age' with the name of a column that exists in your DataFrame.
# For example, if you're using the Red Wine Quality dataset, you could filter wines with a quality score above 6 like this:
# filtered_df = df[df['quality'] > 6]

In [6]:
# Perform basic data analysis: the describe() function provides descriptive statistics of the DataFrame.
print("\nDescriptive statistics of the DataFrame:\n", df.describe())

Descriptive statistics of the DataFrame:
        beer_servings  spirit_servings  wine_servings  \
count     193.000000       193.000000     193.000000
mean      106.160622        80.994819      49.450777
std       101.143103        88.284312      79.697598
min         0.000000         0.000000       0.000000
25%        20.000000         4.000000       1.000000
50%        76.000000        56.000000       8.000000
75%       188.000000       128.000000      59.000000
max       376.000000       438.000000     370.000000

       total_litres_of_pure_alcohol
count                    193.000000
mean                       4.717098
std                        3.773298
min                        0.000000
25%                        1.300000
50%                        4.200000
75%                        7.200000
max                       14.400000