<a href="https://colab.research.google.com/github/MikkoDT/MexEE402_AI/blob/main/Ch1_2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter 1: Introduction to Data Pre-processing**

**Data Preprocessing**

- Acts like a backstage crew ensuring smooth data analysis or ML projects.

- Comparable to cleaning and organizing a messy kitchen before cooking.

- Raw data is often messy, incomplete, inconsistent, or irrelevant.

**Common Issues**

- Missing Data → some values not recorded

- Inconsistent Data → different units/formats

- Irrelevant Data → unnecessary features


**Preprocessing Techniques**

- Handling Missing Data → e.g., imputation (fill with average)

- Data Transformation → convert units (e.g., mph → kph)

- Feature Selection → remove irrelevant data


**Why It’s Essential**

1. Improves data quality → fixes inconsistencies, fills gaps

2. Enhances model performance → clean data = better accuracy

3. Simplifies analysis → easier to find patterns & trends

4. Saves resources → prevents issues later, reduces cost & time

# **Chapter 2: The Power of Data: Initial Steps in Loading, Understanding, and Exploring Data with Python**

**Data Formats**

- Common types: CSV, JSON, Excel

- Each has unique characteristics

- Handling multiple formats is a core data science skill

**First Step: Loading Data**

- Essential part of data preprocessing

- Use Pandas for flexible, powerful data manipulation

### Step 1: Download the CSV file

For our practical example, download the CSV file for Video Game Sales.
https://www.kaggle.com/datasets/gregorut/videogamesales

## Step 2: Import Necessary Libraries

Before you delve into data processing, you must first import the necessary libraries. In our case, we'll utilize pandas.

In [1]:
import pandas as pd

## Step 3: Loading Data

With your libraries ready, it's time to load your data. Presuming that you have downloaded the CSV file and uploaded it into your Google Colab environment, here's how you read a CSV file using pandas:

In [2]:
df = pd.read_csv('/content/vgsales.csv')

## Step 4: Understanding Data Types

Once you've loaded your data, it's beneficial to examine what kind of data you're dealing with.

# Understanding Data Types


*   Defines the kind of information in each dataset column
*   Common types:
    - Numeric → integers & floats, support math operations
    - Categorical → groups or labels
        * Nominal (no order: Red, Green, Blue)
        * Ordinal (ordered: Low, Medium, High)
    - Datetime → dates & times, crucial for time-series and timestamps

* Knowing data types guides preprocessing decisions

In [7]:
# This will print out the data type of each column. For instance, if a column is of 'object' type, it is likely a string or categorical data. If it's 'int64' or 'float64', it's a numerical data.
print(df.dtypes)

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

## Step 5: Basic Data Exploration

In [13]:
# To get the first five rows of the dataset
print(df.head())

   Rank                      Name Platform    Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006.0        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37

In [5]:
# To get a statistical summary of the dataset
print(df.describe())

               Rank          Year      NA_Sales      EU_Sales      JP_Sales  \
count  16598.000000  16327.000000  16598.000000  16598.000000  16598.000000
mean    8300.605254   2006.406443      0.264667      0.146652      0.077782
std     4791.853933      5.828981      0.816683      0.505351      0.309291
min        1.000000   1980.000000      0.000000      0.000000      0.000000
25%     4151.250000   2003.000000      0.000000      0.000000      0.000000
50%     8300.500000   2007.000000      0.080000      0.020000      0.000000
75%    12449.750000   2010.000000      0.240000      0.110000      0.040000
max    16600.000000   2020.000000     41.490000     29.020000     10.220000

        Other_Sales  Global_Sales
count  16598.000000  16598.000000
mean       0.048063      0.537441
std        0.188588      1.555028
min        0.000000      0.010000
25%        0.000000      0.060000
50%        0.010000      0.170000
75%        0.040000      0.470000
max       10.570000     82.740000

In [6]:
# To get a brief overview of the dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB
None

# **Chapter 3: Cleaning Your Data**
## Data Cleaning

* Messy data hinders insights → clean data = reliable analysis

* Key step in data preprocessing

Handling Missing Values

* Common issue in datasets

* Strategies:

    - Imputation → fill with mean/median/etc.

    - Deletion → remove rows/columns

    - Prediction → estimate using models

## Step 1: Import Necessary Libraries

In this case, we require numpy.

In [8]:
import numpy as np

## Step 2: Locate Missing Values

Our next step is to identify where the missing values reside in our dataset.

In [10]:
# This command displays the number of missing values in each column.
print(df.isnull().sum())

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

##Step 3: Handle Missing Values

**Imputation**

* Replace missing data with computed values

* For numeric columns → use mean / median / mode

* For categorical columns → use most frequent (mode)

* Example:

    - Year (numeric) → mean imputation

    - Publisher (categorical) → mode imputation

In [11]:
df['Year'].fillna(df['Year'].mean(), inplace=True)
df['Publisher'].fillna(df['Publisher'].mode()[0], inplace=True)

/tmp/ipython-input-724162019.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Year'].fillna(df['Year'].mean(), inplace=True)
/tmp/ipython-input-724162019.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Publisher'].fillna(df['Publisher'].mode()[0], inplace=True)

**Deletion**

* Remove rows/columns with missing values

* Useful if only a small portion of data is missing

* Done with notna() in Pandas

⚠️ Risk: may lose important information

In [15]:
# keep rows where 'Publisher' is not missing
df = df[df['Publisher'].notna()]

**Prediction**

* Use ML models to predict and fill missing values

* Based on patterns in other available data

* More complex and computationally demanding

* Useful when:

    - Large amount of missing data

    - Simpler methods (imputation/deletion) aren’t effective

## Step 5: Confirm Your Results

Finally, we'll confirm our work by checking for missing values again:

In [16]:
print(df.isnull().sum())

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

### You should now see that the count of missing values in the 'Year' and 'Publisher' columns is zero. Now, you've successfully handled missing data in your dataset.

## **Removing Redundancies**

* Eliminate unnecessary data to improve quality

* Common redundancies:

  - Duplicate entries

  - Irrelevant features

  - Noisy data

## Step 6: Eliminate Redundancies

**Duplicate Entries**

* Rows that appear more than once

* Can skew results if not removed

* Pandas tools:

    - duplicated() → find duplicates

    - drop_duplicates() → remove duplicates

In [17]:
print(df.duplicated().sum())

df = df.drop_duplicates()

print(df.duplicated().sum())

0
0

**Irrelevant Features**

* Variables that don’t contribute to analysis or prediction

* Should be removed to avoid noise

* Pandas tool: drop()

* Example: drop Rank column if not useful

In [18]:
df = df.drop(['Rank'], axis=1)

**Noisy Data**

* Data that is inconsistent or has extreme outliers

* Can distort patterns and lead to inaccurate results

* Sources:

    - Inconsistent entries

    - Human errors

    - Unrealistic values (e.g., extreme sales numbers)

* Example: treat games with Global Sales > 40M as outliers and remove them

In [20]:
# This line keeps only the rows where 'Global_Sales' is less than or equal to 40.
df = df[df['Global_Sales'] <= 40]

## Step 4: Validate Your Results
Lastly, let's examine our cleaned DataFrame:

In [21]:
print(df.head())

                       Name Platform    Year         Genre Publisher  \
2            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo
5                    Tetris       GB  1989.0        Puzzle  Nintendo
6     New Super Mario Bros.       DS  2006.0      Platform  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37
5     23.20      2.26      4.22         0.58         30.26
6     11.38      9.23      6.50         2.90         30.01